<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Swagger UI</title>
  <%= favicon_link_tag 'images/favicon-32x32.png', rel: 'icon', type: 'image/png', sizes: '32x32' %>
  <%= favicon_link_tag 'images/favicon-16x16.png', rel: 'icon', type: 'image/png', sizes: '16x16' %>

  <%= stylesheet_link_tag "swagger_engine/application" %>
  <%= stylesheet_link_tag "swagger_engine/reset", media: "print" %>
  <%= stylesheet_link_tag "swagger_engine/print", media: "print" %>
  <%= javascript_include_tag "swagger_engine/application" %>
  <%= csrf_meta_tags %>

  <script type="text/javascript">
    $(function () {
      var url = window.location.search.match(/url=([^&]+)/);
      if (url && url.length > 1) {
        url = decodeURIComponent(url[1]);
      } else {
        url = '<%= @swagger_json_url %>';
      }

      // Pre load translate...
      if(window.SwaggerTranslator) {
        window.SwaggerTranslator.translate();
      }
      window.swaggerUi = new SwaggerUi({
        url: url,
        dom_id: "swagger-ui-container",
        supportedSubmitMethods: ['get', 'post', 'put', 'delete', 'patch'],
        // there is a bug in swagger-ui that required oauth2RedirectUrl
        // to be a string for the redirect url to be set.
        // https://github.com/swagger-api/swagger-ui/blob/v2.1.3/src/main/javascript/SwaggerUi.js#L38
        oauth2RedirectUrl: 'this-is-a-string',
        redirectUrl: '<%= @swagger_oauth_redirect_url %>',
        onComplete: function(swaggerApi, swaggerUi){
          if(typeof initOAuth == "function") {
            initOAuth({
              clientId: "<%= @swagger_oauth_client_id %>",
              clientSecret: "<%= @swagger_oauth_client_secret %>",
              realm: "<%= @swagger_oauth_realm %>",
              appName: "<%= @swagger_oauth_app_name %>",
              scopeSeparator: ","
            });
          }

          if(window.SwaggerTranslator) {
            window.SwaggerTranslator.translate();
          }

          $('pre code').each(function(i, e) {
            hljs.highlightBlock(e)
          });

          addApiKeyAuthorization();
        },
        onFailure: function(data) {
          log("Unable to Load SwaggerUI");
        },
        docExpansion: "none",
        apisSorter: "alpha",
        showRequestHeaders: false
      });

      function addApiKeyAuthorization() {
      }

//      function addApiKeyAuthorization(){
//        var key = encodeURIComponent( $('#input_apiKey')[0].value );
//        if(key && key.trim() != "") {
//          var apiKeyAuth = new SwaggerClient.ApiKeyAuthorization("Authorization", "Bearer " + key, "header");
//          window.swaggerUi.api.clientAuthorizations.add("Authorization", apiKeyAuth);
//          log( "Set bearer token: " + key );
//        }
//      }

//      function addApiKeyAuthorization(){
//        var key = encodeURIComponent($('#input_apiKey')[0].value);
//        if(key && key.trim() != "") {
//          var apiKeyAuth = new SwaggerClient.ApiKeyAuthorization("api_key", key, "query");
//          window.swaggerUi.api.clientAuthorizations.add("Authorization", apiKeyAuth);
//          log("added key " + key);
//        }
//      }

      $('#input_apiKey').change(addApiKeyAuthorization);

      // if you have an apiKey you would like to pre-populate on the page for demonstration purposes...
      /*
        var apiKey = "myApiKeyXXXX123456789";
        $('#input_apiKey').val(apiKey);
      */

      window.swaggerUi.load();

      function log() {
        if ('console' in window) {
          console.log.apply(console, arguments);
        }
      }
  });
  </script>
</head>

<body class="swagger-section">
<div id='header'>
  <div class="swagger-ui-wrap">
    <a id="logo" href="http://swagger.io">swagger</a>
    <form id='api_selector'>
      <div class='input'><input placeholder="http://example.com/api" id="input_baseUrl" name="baseUrl" type="text"/></div>
      <div class='input'><input placeholder="api_key" id="input_apiKey" name="apiKey" type="text"/></div>
      <div class='input'><a id="explore" href="#" data-sw-translate>Explore</a></div>
    </form>
  </div>
</div>

<div id="message-bar" class="swagger-ui-wrap" data-sw-translate>&nbsp;</div>
<div id="swagger-ui-container" class="swagger-ui-wrap"></div>
</body>
</html>
